{% extends 'acApp/base.html' %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
        <form action="{% url 'acApp:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username"> Username:</label>
            <input type="text" id="username" name="username" placeholder="USERNAME">
            <label for="password"> Password:</label>
            <input type="password" id="password" name="passw" placeholder="PASSWORD">
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}
